/* Чем мы занимаемся */
.about {
	@extend %section;
	padding-top: 0;
	
	&__container {
			@extend %container;
		}

		&__title {
			@extend %container__title;
		}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__picture {
		position: relative;
		margin-right: 30px;
	}

	&__picture:last-child {
		margin-right: 0;
	}

	&__unit {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 370px;
		height: 70px;
		top: 224px;
		left: 0;
		background: rgba(47, 48, 58, 0.8);
	}

	&__description {
		margin: 0;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $primary-white-color;
	}
}