/* Постоянные клиенты */
.clients {
	@extend %section;

	&__container {
		@extend %container;
	}

	&__title {
		@extend %container__title;
		@media screen and (max-width: 1199px) {
			margin-bottom: 30px;	
		}
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		margin: -15px;
	}

	&__item {
		margin: 15px;
	
		}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 210px;
		height: 92px;
		color: $icon-grey-color;
		background-color: $primary-white-color;
		border: 1px solid $icon-grey-color;
		box-sizing: border-box;
		border-radius: 4px;
		@media screen and (min-width: $tablet) {
			width: 226px;
		}
		@media screen and (min-width: $desktop) {
			width: 170px;
		}
	}

	&__button:hover,
	&__button:focus {
		color: $accent-color;
		background-color: $primary-white-color;
		border: 1px solid $accent-color;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__icon {
		fill: currentColor
	}
}