/* Футер */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2F303A;

	&__container {
			@extend %container;
		}

	&__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	}

	&__object {
		width: 231px;
		margin-right: 70px;
	}

	&__unit {
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__item:not(:last-child) {
		margin-bottom: 9px;
	}

	&__address {
		font-style: normal;
		font-weight: 400;
		line-height: 1.71;
		color: $primary-white-color;
		text-decoration: none;
	}

	&__contact {
		font-style: normal;
		line-height: 1.71;
		color: rgba(255, 255, 255, 0.6);
		text-decoration: none;
	}

	&__contact:hover,
	&__contact:focus {
		color: $accent-color;
		transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__join {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $primary-white-color;
		margin: 0;
		margin-top: 12px;
		margin-bottom: 20px;
	}

	&__social {
		margin: 0;
	}
}

.subscribe {
	margin-left: 93px;

	&__join {
		@extend .footer__join;
	}
	
	&__form {
		display: block;
		/*display: flex; */
		align-items: center;
		margin: 0;
		padding: 0;
	}

	&__window {
		width: 358px;
		height: 50px;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 16px;
		margin: 0;
		background-color: #2F303A;
		color: rgba(255, 255, 255, 0.6);
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
	}

	&__button {
		position: relative;
		width: 200px;
		height: 50px;
		display: flex;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 29px;
		padding-right: 0;
		margin-left: 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		color: $primary-white-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 4px;
		background-color: $accent-color;
		cursor: pointer;
	}

	&__icon {
		position: absolute;
		right: 28px;
		fill: currentColor;
	}
}