/* Футер */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2F303A;

	&__container {
			@extend %container;
		}

	&__list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		@media screen and (min-width: $tablet) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-around;
		}
	}

	&__object {
		width: 231px;
		text-align: center;
		margin-bottom: 60px;
		@media screen and (max-width: 1199px) {
			width: 232px;	
		}
		@media screen and (min-width: $desktop) {
			text-align: left;
			margin-right: 70px;
		}
	}

	&__object:nth-child(2) {
		width: 206px;
		@media screen and (max-width: 767px) {
			
		}
		@media screen and (min-width: $tablet) {
			margin-bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			text-align: left;
			margin-right: 0;
		}
	}
	
	&__unit {
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__item:not(:last-child) {
		margin-bottom: 9px;
		@media screen and (min-width: $tablet) {
			margin-bottom: 8px;	
		}
	}

	&__address {
		font-style: normal;
		font-weight: 400;
		line-height: 1.71;
		color: $primary-white-color;
		text-decoration: none;
	}

	&__contact {
		font-style: normal;
		line-height: 1.71;
		color: rgba(255, 255, 255, 0.6);
		text-decoration: none;
	}

	&__contact:hover,
	&__contact:focus {
		color: $accent-color;
		transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__join {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $primary-white-color;
		margin: 0;
		margin-top: 0;
		margin-bottom: 20px;
		@media screen and (min-width: $desktop) {
			margin-top: 5px;
		}
		@media screen and (min-width: $desktop) {
			margin-top: 12px;
		}
	}

	&__social {
		margin: 0;
	}
}

.subscribe {
	text-align: center;
	width: 450px;
	@media screen and (min-width: $desktop) {
			margin-left: 93px;
			text-align: left;
			width: 570px;
	}

	&__join {
		@extend .footer__join;
	}
	
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
			@media screen and (min-width: $desktop) {
			flex-direction: row;
		}
	}

	&__window {
		width: 358px;
		height: 50px;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 16px;
		margin: 0;
		background-color: #2F303A;
		color: rgba(255, 255, 255, 0.6);
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
	}

	&__button {
		position: relative;
		width: 200px;
		height: 50px;
		display: flex;
		align-items: center;
		padding: 0;
		padding-left: 29px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		color: $primary-white-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 4px;
		background-color: $accent-color;
		cursor: pointer;
		@media screen and (min-width: $desktop) {
			margin-left: 12px;
		}
		@media screen and (max-width: 1199px) {
			margin-top: 20px;
		}
	}

	&__icon {
		position: absolute;
		right: 28px;
		fill: currentColor;
	}
}