/* Модальное окно */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 528px;
	height: 581px;
	background: $primary-white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	.is-hidden & {
		transform: translate(-50%, -50%) scale(0.5);
	}

	&__title {
		margin-top: 40px;
		margin-bottom: 0;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
		text-align: center;
		letter-spacing: 0.03em;
		color: $primary-text-color;
	}

	&__form {
		margin-top: 12px;
		width: 448px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;
	}

	&__list {
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 0;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	&__item:last-child {
		margin-bottom: 0px;
	}

	&__label {
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: $secondary-text-color;
	}

	&__input {
		padding-left: 42px;
		height: 40px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
	}

	&__input:focus,
	&__textarea:focus {
		border: 1px solid $accent-color;
		outline: none;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__input:focus+&__icon {
		fill: $accent-color;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__icon {
		position: absolute;
		bottom: 11px;
		left: 12px;
		fill: currentColor;
	}

	&__textarea {
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-right: 12px;
		padding-left: 12px;
		height: 120px;
		resize: none;
		width: 100%;
	}

	&__textarea::placeholder {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
	&__button {
		width: 200px;
		height: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		text-align: center;
		letter-spacing: 0.06em;
		color: $primary-white-color;
		background-color: $accent-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		border: none;
		cursor: pointer;
	}
		&__button:hover, &__button:focus {
			@media screen and (max-width: 1199px) {
				background-color: #188CE8;
			}
		}

	&__button--close {
		position: absolute;
		top: 8px;
		left: 490px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		padding: 0;
		background: $primary-white-color;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		cursor: pointer;
	}

	&__icon--close {
		fill: currentColor;
	}

	&__icon--close:hover,
	&__icon--close:focus {
		fill: $accent-color;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.checkbox {
	position: relative;
	margin-bottom: 30px;

	&__label {
		display: flex;
		flex-direction: row;
		margin-left: 36px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $secondary-text-color;
		cursor: pointer;
	}

	&__link {
		text-decoration: underline;
		color: $accent-color;
	}

	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: absolute;
		top: 12px;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__input:checked+&__icon {
		border-color: transparent;
		border-radius: 2px;
		background-color: $accent-color;
		background-size: contain;
		background-origin: border-box;
		fill: transparent;
	}

	&__input:checked+&__icon+&__icon--checked {
		visibility: visible;
	}

	&__icon {
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translate(0, -50%);
	}

	&__icon--checked {
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translate(0, -50%);
		visibility: hidden;
	}
}