/* Наша команда */
.team {
	@extend %section;
	background-color: $background-grey-color;

	&__container {
		@extend %container;
	}

	&__title {
		@extend %container__title;

		@media screen and (max-width: 1199px) {
		margin-bottom: 30px;	
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__item {
		margin-right: 30px;
		text-align: center;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
			0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		background-color: $primary-white-color;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__member {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&__job {
		font-size: 16px;
		line-height: 1.19;
		color: $secondary-text-color;
		margin-top: 0;
		margin-bottom: 16px;
	}
}