body {
	background-color: $primary-white-color;
	color: $primary-text-color;
	font-family: Roboto, Verdana, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03rem;
}
ul {
	list-style: none;
}
img,
a {
	display: block;
	max-width: 100%;
	text-decoration: none;
}
%section {
	@media screen and (max-width: 1599px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: 1600px) {
	padding-top: 94px;
	padding-bottom: 94px;
	}
}
%container {
	@media screen and (min-width:480px) {
		width: 480px;
	}
	@media screen and (min-width:768px) {
		width: 768px;
	}
	@media screen and (min-width:1200px) {
		width: 1200px;
	}
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
%container__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}
%visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}